framework:
    messenger:
        # reset services after consuming messages
        reset_on_message: true

        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        # failure_transport: failed

        transports:
            doctrine:
                dsn: "%env(MESSENGER_DOCTRINE_TRANSPORT_DSN)%"
            amqp:
                dsn: "%env(MESSENGER_AMQP_TRANSPORT_DSN)%"
            sync: 'sync://'

        routing:
            # Route your messages to the transports
            # 'App\Message\YourMessage': async
