{% import 'macros.twig' as macros %}

{% extends 'layout.twig' %}

{% block title %}
    User list
{% endblock %}
{% block body %}
    <div ref="users" data-users="{{ users }}">
    </div>

    <div id="app">
        <app></app>
    </div>
{% endblock %}
